.swipe{ z-index:20;border-radius:12px; height:314px; overflow:hidden; border:solid 5px #fcfcfc;}
.swipe li  img{width:544px;height:314px; border:0;}
#slider0 ul li img{ height:100%; border:0;}
#pagenavi_0{ position:absolute; bottom:6px; left:0px; right:0; margin:auto; z-index:21; width:150px;}
#pagenavi_0 a{ display:block; float:left;  width:30px; height:31px;text-indent:-9999px; background:url(../images/index/banner/banner_page.png) center;}
#pagenavi_0 a.active{	display:block; width:30px; height:31px; text-indent:-9999px; background:url(../images/index/banner/banner_page_hover.png) center;}

.swipe_gseg{ z-index:20;border-radius:12px; height:272px; overflow:hidden; border:solid 1px #898989;}
.swipe_gseg li  img{width:544px;height:314px;}

#slider1 ul li img{ height:100%;}
#pagenavi_1{ position:absolute; bottom:6px; left:0px; right:0; margin:auto; z-index:21; width:120px;}
#pagenavi_1 a{ display:block; float:left;  width:30px; height:31px;text-indent:-9999px; background:url(../images/index/banner/banner_page.png) center;}
#pagenavi_1 a.active{	display:block; width:30px; height:31px; text-indent:-9999px; background:url(../images/index/banner/banner_page_hover.png) center;}

#slider2 ul li img{ height:100%;}
#pagenavi_2{ position:absolute; bottom:6px; left:0px; right:0; margin:auto; z-index:21; width:150px;}
#pagenavi_2 a{ display:block; float:left;  width:30px; height:31px;text-indent:-9999px; background:url(../images/index/banner/banner_page.png) center;}
#pagenavi_2 a.active{	display:block; width:30px; height:31px; text-indent:-9999px; background:url(../images/index/banner/banner_page_hover.png) center;}

/*故事儿歌_Begin*/
.swipe_gseg{ z-index:20;border-radius:12px; height:240px; overflow:hidden; border:solid 5px #fcfcfc;}
.swipe_gseg li  img{width:770px;height:240px; border:0;}
/*故事儿歌_End*/