@charset "utf-8";

#banner #container {
	width:960px;
	/*height:450px;*/
	margin:0 auto;
	position:relative;
	z-index:0;
}


#banner #container #ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}

/*
	Slideshow
*/

#banner #container #slides {
	position:absolute;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

#banner #container .slides_container {
	width:960px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

#banner #container .slides_container a {
	width:960px;
	height:450px;
	display:block;
}

#banner #container .slides_container span {
	width:960px;
	height:450px;
	display:block;
}
#banner #container .slides_container a img {
	display:block;
}

/*
	Next/prev buttons
*/

#banner #container #slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#banner #container #slides .next {
	left:960px;
}

/*
	Pagination
*/

#banner #container .pagination {
	position:absolute;
	width:100px;
	left:430px;
	bottom:15px;
	z-index:101;
}

#banner #container .pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

#banner #container .pagination li a {
	display:block;
	width:14px;
	height:0;
	padding-top:14px;
	background-image:url(../images/pagination.png);
	background-position:0 -15px;
	float:left;
	overflow:hidden;
}

#banner #container .pagination li.current a {
	background-position:0 0;
}