@charset "utf-8";

.message_header_bg{
	background:url(../images/message_menu_bg.jpg) repeat-x;
}
.message_header{
	height:97px;
}


.message_header .logo{
	background: url(../images/logo2.png) no-repeat;
	width:180px;
	height:62px;
	float: left;
	margin:20px 0px 0px 70px;
}

.message_header .header_r{
	width: 570px;
	float: right;
	padding:45px 70px 0px 0px;	
}

.message_header .header_r .menu{
	height:40px;
}

.message_header .header_r .menu a{
	background:url(../images/message_menu_txt.png) no-repeat;
	display:inline-block;
	float:left;
	padding:0px 15px;
	margin:0px 5px;
	height:20px;
}
.message_header .header_r .menu a:hover{
	text-decoration:none;
}
.message_header .header_r .menu a.m1{
	width:40px;
}
.message_header .header_r .menu a.m2{
	width:80px;
	background-position: -64px 0px;
}
.message_header .header_r .menu a.m3{
	width:90px;
	background-position: -168px 0px;
}
.message_header .header_r .menu a.m4{
	width:110px;
	background-position: -282px 0px;
}
.message_header .header_r .menu a.m5{
	width:70px;
	background-position: -416px 0px;
}
.message_header .header_r .menu a.m6{
	width:30px;
	background-position: -510px 0px;
}
.message_header .header_r .menu a.m1:hover{
	background-position: 0px -20px;
}
.message_header .header_r .menu a.m2:hover{
	background-position: -64px -20px;
}
.message_header .header_r .menu a.m3:hover{
	background-position: -168px -20px;
}
.message_header .header_r .menu a.m4:hover{
	background-position: -282px -20px;
}
.message_header .header_r .menu a.m5:hover{
	background-position: -416px -20px;
}
.message_header .header_r .menu a.m6:hover{
	background-position: -510px -20px;
}

.message_top_bg{
	background:url(../images/message_top_bg_bg.jpg) repeat-x;
}
.message_top{
	background:url(../images/message_top_bg.jpg) no-repeat;
	width:948px;
	height:360px;
	margin:0px auto;
}

.message_top .msgbox{
	width:500px;
	float:left;
}
.message_top .facelist{
	width:230px;
	float:left;
}
.message_top .facelist img{
	margin:2px;
	border:solid 1px #ddd;
	cursor:pointer;
}
.message_top .msgbox textarea{
	background:#FFF;
	width: 475px;
	height: 110px;
	line-height:20px;
	color: #999;
	border: none;
	padding:3px;
	font-family:"微软雅黑", "幼圆";
	font-size:12px;
}

.message_top .msg_info{
	padding:0px 0px 0px 127px; width:650px; height:50px;
}

.message_top .msg_info span{
	display:block;
	width:160px;
	height:30px;
	float:left;
}

.message_top .namebox{
	background:#FFF;
	width: 110px;
	height: 20px;
	line-height:20px;
	*line-height:18px;
	color: #999;
	border: none;
	font-family:"微软雅黑", "幼圆";
	font-size:12px;
	float:left;
}

.message_top .verifybox{
	border: none;
	background:#FFF;
	width: 80px;
	height: 18px;
	line-height:17px;
	*line-height:16px;
	color: #999;
	font-family:"微软雅黑", "幼圆";
	font-size:12px;
	float:left;
}
.message_top .feedback_btn{
	border:none;
	background:none;
	background:url(../images/message_btn.gif) no-repeat;
	width:102px;
	height:35px;
	float:right;
	cursor:pointer;
}

.message_list{
	width:830px;
	margin:0px auto;
	padding-top:10px;
	*padding-top:20px;
}

.message_list li{
	display:block;
	margin:10px 0px 0px 0px;
	overflow:hidden;
	zoom:1;
	position:relative;
}

.message_list .user_face{
	background: url(../images/message_uface_bg_1.gif) no-repeat;
	width:69px;
	height:53px;
	padding:2px 0px 0px 4px;
	position:absolute;
	left:0px;
	top:10px;
	z-index:110;
}
.message_list .user_face img{
	display:block;
	width:45px;
	height:45px;
}
.message_list .msg_content{
	margin-left:68px;	
}

.message_list .msg_content .content_bg_t{
	background: url(../images/message_content_bg_1.gif) no-repeat bottom left;
	height:4px;
	padding:0px;
	margin:0px;
}
.message_list .msg_content .content_bg_m{
	color:#555;
	background: url(../images/message_content_bg_2.gif) repeat-y;
	padding:2px 20px 3px 15px;	
}

.message_list .msg_content a{
	color:#666;
}
.message_list .msg_content a:hover{
	text-decoration:none;
	color: #F60;
}

.message_list .msg_content .content_bg_b{
	background: url(../images/message_content_bg_3.gif) no-repeat;
	height:11px;
}

.message_list .msg_content .time{
	text-align:right;
	color:#aaa;
	padding-top:10px;
}
.message_list .msg_content p{
	display:block;
	padding:0px 0px 10px 0px;
	word-wrap:break-word;
	word-break:break-all;
	line-height:20px;
}

.message_list .msg_content .reply_content{
	background:#707070;
	color:#fff;
	padding:8px 8px;
	overflow:hidden;
	*zoom:1;
}

.message_list .msg_content .reply_content .admin_face{
	width:30px;
	height:32px;
	float:left;
}
.message_list .msg_content .reply_content .admin_face img{
	width:30px;
	height:32px;
}
.message_list .msg_content .reply_content p{
	display:block;
	margin:0px 0px 0px 40px;
	padding:0px;
	word-wrap:break-word;
	word-break:break-all;
	line-height:20px;
}

.message_list .msg_content .line{
	border-bottom:dashed 1px #ddd;
}