/* CSS Document */
.main_bg{ width:100%; min-height:1024px; background:url(../images/public/bg.png) repeat-x; background-color:#c0e9d8;}
.main_bg_color{ width:100%; min-height:1024px; background:#082340;}
.main_bg_color_2{ width:100%; min-height:1024px; background:#5dbdf0;}
.main_content{ float:left; width:1060px; min-height:900px; margin:-24px 0 0 47px; background:#f4f4f4;}
.dqzt_content{ float:left; width:1060px; min-height:900px; margin:0px 0 0 47px;}
.dqzt_content_t{ float:left; width:1060px; height:18px; background:url(../images/gseg_dqzt/content_t.png);}
.dqzt_content_m{ float:left; width:1060px; min-height:900px; background:url(../images/gseg_dqzt/content_m.png);}


.main_middle{ width:1154px; height:auto; overflow:hidden;  margin:auto;}
.cloud_0{ position:absolute; z-index:5; top:150px; right:0; width:84px; height:71px; background:url(../images/public/cloud_2.png);}
.cloud_1{ position:absolute; z-index:5; top:0; right:0; width:176px; height:64px; background:url(../images/public/cloud_1.png);}
.cloud_2{ position:absolute; z-index:5; top:90px; left:0; width:99px; height:117px; background:url(../images/public/cloud_0.png);}
/*logo+登录、注册区域样式_Begin*/
.top{ float:left; position:relative; width:1060px; height:130px; margin:0 0 0 47px;}
.top_right{ position:absolute; right:0px; bottom:6px; width:auto; height:50px;}
.login_no{ float:right; width:120px; height:50px;}
.login_yes{ float:right; width:160px; height:50px;}
  .login_yes img{ float:left; width:50px; height:50px; border-radius:3px;}
  .login_yes h3{ float:left; width:104px; margin-left:6px; color:#fff; font-size:14px; font-weight:normal;}
  .login_yes a{ float:left; margin:12px 0 0 6px; text-decoration:none; color:#ccc; font-size:12px;}
.top_login{ float:right; width:50px; height:38px; margin:8px 0 0 0; background:url(../images/public/dl.png);}
  .top_login a{ display:block; width:100%; height:100%; text-indent:-9999px;}
.top_login:hover{ background:url(../images/public/dl_hover.png);}  
.top_sign{ float:right; width:50px; height:38px; margin:8px 6px 0 0; background:url(../images/public/zc.png);}
  .top_sign a{ display:block; width:100%; height:100%; text-indent:-9999px;}
.top_sign:hover{background:url(../images/public/zc_hover.png);}
.top_search{ position:relative; float:right; width:236px; height:50px; margin:0 12px 0 0; background:url(../images/public/search.png);}
  .top_search a{ display:block; position:absolute; width:35px; height:35px; top:8px; left:8px;}
  .top_search input{ position:absolute; width:170px; height:28px; right:15px; top:12px; background:none; border:none; outline:none; font-size:14px;}
/*logo+登录、注册区域样式_End*/

/*导航区域样式_Begin*/
.menu{ float:left; position:relative; z-index:3; width:1154px; height:88px; margin:0 auto 0 auto;}

.menu_left{ float:left; width:34px; height:69px; background:url(../images/public/menu_left.png) no-repeat;}
.menu_middle{ float:left; width:1086px; height:88px; background:url(../images/public/menu.png) repeat-x;}
.menu_right{ float:left; width:34px; height:69px; background:url(../images/public/menu_right.png) no-repeat;}

.menu_middle ul{ float:left; margin-left:12px; margin-top:-5px;}
.menu_middle ul li{ float:left; width:132px; height:83px;}
.menu_middle ul li a{ display:block; text-indent:-9999px; width:100%; height:100%;}

.menu_0{ background:url(../images/public/menu/sy.png) no-repeat top;}
.menu_0:hover{ background:url(../images/public/menu/sy_hover.png) no-repeat top;}
.select_0{background:url(../images/public/menu/sy_hover.png) no-repeat top;}

.menu_1{ background:url(../images/public/menu/gseg.png) no-repeat top;}
.menu_1:hover{ background:url(../images/public/menu/gseg_hover.png) no-repeat top;}
.select_1{background:url(../images/public/menu/gseg_hover.png) no-repeat top;}

.menu_2{ background:url(../images/public/menu/dhp.png) no-repeat top;}
.menu_2:hover{ background:url(../images/public/menu/dhp_hover.png) no-repeat top;}
.select_2{ background:url(../images/public/menu/dhp_hover.png) no-repeat top;}

.menu_3{ background:url(../images/public/menu/zxsc.png) no-repeat top;}
.menu_3:hover{ background:url(../images/public/menu/zxsc_hover.png) no-repeat top;}
.select_3{background:url(../images/public/menu/zxsc_hover.png) no-repeat top;}

.menu_4{ background:url(../images/public/menu/bbx.png) no-repeat top;}
.menu_4:hover{ background:url(../images/public/menu/bbx_hover.png) no-repeat top;}
.select_4{ background:url(../images/public/menu/bbx_hover.png) no-repeat top;}

.menu_5{ background:url(../images/public/menu/bk.png) no-repeat top;}
.menu_5:hover{ background:url(../images/public/menu/bk_hover.png) no-repeat top;}
.select_5{background:url(../images/public/menu/bk_hover.png) no-repeat top;}

.menu_6{ background:url(../images/public/menu/sq.png) no-repeat top;}
.menu_6:hover{ background:url(../images/public/menu/sq_hover.png) no-repeat top;}
.select_6{background:url(../images/public/menu/sq_hover.png) no-repeat top;}

.menu_7{ background:url(../images/public/menu/khd.png) no-repeat top;}
.menu_7:hover{ background:url(../images/public/menu/khd_hover.png) no-repeat top;}
.select_7{background:url(../images/public/menu/khd_hover.png) no-repeat top;}

/*导航区域样式_End*/


/*翻页按钮区域_Begin*/
.pages_content{ float:left; width:100%; height:27px; margin:12px 0 12px 0;}
.pages_content ul{ float:right; margin-right:20px;}
.pages_content ul li{ float:left;}
.pages_content ul li a{ display:block; }
.pages_prev{ width:65px; height:27px; margin-right:12px; text-indent:-9999px; background:url(../images/gseg_dvd/buttons.png) -89px -173px;}
.pages_prev:hover{background:url(../images/gseg_dvd/buttons.png) -89px -146px no-repeat;}
.pages_next{ width:65px; height:27px;margin-left:12px; text-indent:-9999px; background:url(../images/gseg_dvd/buttons.png) -0px -173px;}
.pages_next:hover{background:url(../images/gseg_dvd/buttons.png) 0px -146px;}
.pages_num{ display:block; width:26px; height:27px; margin:0 3px 0 3px; text-align:center; line-height:27px; text-decoration:none; color:#8a8a8a; font-size:14px;}
.pages_num:hover{ background:url(../images/gseg_dvd/buttons.png) -33px -200px; color:#5b9e16;}
.pages_num_sel{ display:block;background:url(../images/gseg_dvd/buttons.png) -33px -200px; color:#5b9e16;}

.pages_content_2{ float:left; width:100%; height:27px; margin:12px 0 12px 0;}
.pages_content_2 ul{ float:left;}
.pages_content_2 ul li{ float:left;}
.pages_content_2 ul li a{ display:block; }
/*翻页按钮区域_End*/


/*底部版权区域_Begin*/
.index_copyright{ position:relative; z-index:4; width:100%; height:309px; margin:-160px 0 0 0; }
.index_copyright_l{ position:absolute; left:0; bottom:0; width:10%; height:100%; background:url(../images/public/copyright_l.png) repeat-x;}
.index_copyright_m{ position:absolute; z-index:3; width:1280px; height:100%; left:0; right:0; margin:auto;background-image:url(../images/public/copyright.png);}
.index_copyright_r{ position:absolute; right:0; bottom:0; width:10%; height:100%; background:url(../images/public/copyright_r.png) repeat-x;}

.index_copyright_m ul{ position:absolute; width:850px; display:block; top:180px; margin:auto; left:0; right:0;}
.index_copyright_m ul li{ float:left; color:#FFFFFF; font-size:13px; line-height:18px;}
.index_copyright_m ul li a{ display:block; padding:0px 12px; text-decoration:none; color:#FFFFFF; font-size:14px;}
.index_copyright_m ul li a:hover{ color:#666666; text-decoration:underline;}
.index_copyright_m_span{ position:absolute; width:850px; top:220px;margin:auto; left:0; right:0;}
.index_copyright_m_span span{ float:left; width:100%; font-size:13px; padding:3px 0 ; color:#FFFFFF; text-align:center;}
/*底部版权区域_End*/

