@charset "utf-8";
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp{border:0;margin:0;padding:0;font-size:100%}
html,body{height:100%}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
b,strong{font-weight:bold}
img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}
li{display:list-item; list-style-type:none;}
table{border-collapse:collapse;border-spacing:0}
th,td,caption{font-weight:normal;}
q{quotes:none}
q:before,q:after{content:'';content:none}
sub,sup,small{font-size:75%}
sub,sup{line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}
sup{top:-0.5em}
svg{overflow:hidden}
textarea{ font-size:13px; resize:none;} 
input,button,select,textarea,a{ outline:none;} 

body{
	font-family:"微软雅黑", "幼圆";
	font-size:12px;
	margin:0;
	padding:0;
	background:url(../images/head_bg_bg.gif) repeat-x; 
	background-color: #f0f4f8;
}

/*----------------------------公共样式---------------------------*/
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix { display:inline-block; }
/* Hides from IE-mac \*/
.clearfix { display: block; }
/* End hide from IE-mac */
 
.autoheight{
	height: auto;
	overflow: hidden;
	zoom:1;
}

a{ 
	text-decoration:none; 
	color:#666;
	font-size: 12px;
}
a:link{
	text-decoration:none; 
	color:#666;
}
a:hover{
	text-decoration: underline;
	color:#F60;
}
a:visited{
	text-decoration: none;
	color:#666;
}
ul,h1,h2,h3,h4,h5,h6,p{
	margin:0;
	padding:0;
	list-style:none;
}
h1{
	font-weight: bold;
	color: #FFF;
	font-size: 13px;	
}

.hand{
	cursor:pointer;
}

.txtbox{
	width: 150px;
	height: 21px;
	line-height:21px;
	color: #62AA07;
	background-color: #FFF;
	border: 1px solid #999;
	padding-right: 3px;
	padding-left: 3px;
}

.txtbox_gray{
	width: 150px;
	height: 21px;
	line-height:21px;
	color: #666;
	background-color: #FFF;
	border: 1px solid #999;
	padding-right: 3px;
	padding-left: 3px;
}

.txtarea_m{
	background:#FFF;
	width: 400px;
	height: 80px;
	line-height:21px;
	color: #333;
	border: solid 1px #ddd;
	padding:3px;
}

.layout_center{
	margin-right: auto;
	margin-left: auto;
	width: 960px;
}

.lh{
	line-height:150%;
}

.scrollbar{
	scrollbar-face-color:#eeeeee;/* 滚动条主体颜色 */
	scrollbar-base-color:#eeeeee;/*滚动条的基本颜色*/
	scrollbar-3dlight-color:#eeeeee;/*立体滚动条亮边的颜色（设置滚动条的颜色）*/
	scrollbar-track-color:#929292;/* 滚动条背景颜色 */
	scrollbar-arrow-color:#898989;/* 上下箭头颜色 */
	scrollbar-highlight-color:#eeeeee;/* 主体上左边框颜色 */
	scrollbar-shadow-color:#eeeeee;/* 主体右下边框颜色 */
	scrollbar-darkshadow-color:#dadada;
	overflow-x:hidden;
	overflow-y:auto;
}

.indent_10{
	text-indent: 10px;
}

.mg5_t{
	margin-top: 5px;
}
.mg8_lr{
	margin-left: 8px;
	margin-right: 8px;
}
.pd5_all{
	padding: 5px;
}
.pd5_tb{
	padding-top:5px;
	padding-bottom:5px;
}
.pd5_lr{
	padding-left:5px;
	padding-right:5px;
}

.pd8_all{
	padding: 8px;
}
.pd8_lr{
	padding-left:8px;
	padding-right:8px;
}
.pd8_tb{
	padding-top:8px;
	padding-bottom:8px;
}


.border_lr{
	border-left:1px solid #e2e5e9;
	border-right:1px solid #e2e5e9;
	padding: 0px;
	height: auto;
}
.border_lrb{
	border:1px solid #d4eeb9;
	border-top:0;
	padding:0px;
}
.border_lrt{
	border:1px solid #d4eeb9;
	border-bottom:0;
	padding:0px;
}
.border_all{
	border:1px solid  #ddd;
}

.float_l{
	float:left;
}
.float_r{
	float:right;
}

/*----------------------------End公共样式---------------------------*/

/*----------------------------头部样式------------------------------*/
.header_bg{
	background:url(../images/head_bg.gif) no-repeat top center;
	width:960px;
	margin:0px auto;
}
.header{	
	height:163px;
}

.header .logo{
	width:180px;
	height:62px;
	float: left;
	margin:53px 0px 0px 0px;
	padding-left:90px;
}

.header .header_r{
	width: 550px;
	float: right;
	padding:78px 90px 0px 0px;	
}

.header .header_r .menu{
	height:40px;
}

.header .header_r .menu a{
	background:url(../images/menu_txt.gif) no-repeat;
	display:inline-block;
	float:left;
	padding:0px 15px;
	margin:0px 5px;
	height:20px;
}
.header .header_r .menu a:hover{
	text-decoration:none;
}
.header .header_r .menu a.m1{
	width:40px;
}
.header .header_r .menu a.m2{
	width:80px;
	background-position: -64px 0px;
}
.header .header_r .menu a.m3{
	width:90px;
	background-position: -168px 0px;
}
.header .header_r .menu a.m4{
	width:110px;
	background-position: -282px 0px;
}
.header .header_r .menu a.m5{
	width:70px;
	background-position: -416px 0px;
}
.header .header_r .menu a.m6{
	width:30px;
	background-position: -510px 0px;
}
.header .header_r .menu a.m1:hover{
	background-position: 0px -20px;
}
.header .header_r .menu a.m2:hover{
	background-position: -64px -20px;
}
.header .header_r .menu a.m3:hover{
	background-position: -168px -20px;
}
.header .header_r .menu a.m4:hover{
	background-position: -282px -20px;
}
.header .header_r .menu a.m5:hover{
	background-position: -416px -20px;
}
.header .header_r .menu a.m6:hover{
	background-position: -510px -20px;
}


#banner{
	background:#e5e5e5;
	/*height:450px;*/
}
#parallax{position:relative; overflow:hidden; width:1100px; height:400px;}

.contact_bg{
	background:url(../images/contact_bg_bg.gif) repeat-x;
}
.contact{
	background:url(../images/contact_bg.gif) no-repeat;
	width:960px;
	height:90px;
	margin:0px auto;	
}
.contact,.contact a{
	font-family:"微软雅黑", "幼圆";
	font-weight:bold;
	font-size:14px;
	color:#3c3328;
}

.contact span{
	display:block;
	height:40px;
	line-height:20px;
	float:left;
	padding-top:20px;
}

.contact span.qqnum{
	width:100px;
	padding-left:85px;
}
.contact span.qqgroup{
	width:320px;
	padding-left:55px;
}
.contact span.weibo{
	width:130px;
}
.contact span.weibo a{
	display:block;
	height:20px;
}
.contact span.email{
	width:205px;
	padding-left:55px;
}

.case_list{
	padding:8px 0px;
	overflow:hidden;
	*zoom:1;	
}

.case_list li{
	overflow: hidden;
	position: relative; 
	display:block;
	width:300px;
	height:165px;
	float:left;
	margin:10px 0px 15px 28px;
}
.case_list li.first{
	margin-left:0px;
}
.case_list li .thumb{
	width:300px;
	height:165px;
	position: absolute; 
	top: 0; 
	left: 0; 
}
.case_list li a.case_title{
	display:block;
	background:#333;
	border:solid 1px #000;
	height:165px;
	color: #E7E7E7;
	font-family:"微软雅黑", "幼圆";
	font-size:14px;
	text-decoration:none;
}

.case_list li .case_title span{
	display:block;
	text-align:center;
}
.case_list li .case_title span.logo{
	padding-top:30px;
}
.case_list li a{
	cursor:pointer;
}
.case_list li .boxcaption{
	background:url(../images/black_bg.png);
	display:block;
	float: left;
	position: absolute;
	height: 80px;
	width: 100%;
	top: 165px;
	left: 0px;
}

.case_list li .boxcaption h2{
	height:33px;
	line-height:33px;
	text-indent:15px;
	font-weight:normal;
	font-size:13px;
}

.case_list li .boxcaption img{
	display:block;
	margin:5px auto;
}

.case_list li .boxcaption a{
	display:block;
	width:50px;
	height:20px;
	background: #09F;
	color:#FFF;
	margin:30px auto;
}

ul.team_list{
	padding:15px 0px;
	height:100px;
}
ul.team_list li{
	width:320px;
	float:left;
}
ul.team_list li .member1,ul.team_list li .member2,ul.team_list li .member3{
	display:inline-block;	
	width:77px;
	height:100px;
	float:left;
}
ul.team_list li .member1{
	background:url(../images/home_member_f1.jpg) no-repeat top right;
}
ul.team_list li .member2{
	background:url(../images/home_member_f2.jpg) no-repeat top right;
}
ul.team_list li .member3{
	background:url(../images/home_member_f3.jpg) no-repeat top right;
}
ul.team_list li .member1:hover,ul.team_list li .member2:hover,ul.team_list li .member3:hover{
	background-position: top left;
}
ul.team_list li .info{
	width:220px;
	height:100px;
	float:left;
	line-height:17px;
	font-size:13px;
	font-family:"宋体";
	color:#242425;
	padding-left:10px;
}

ul.team_list .member_info{
	padding:15px;
}



.member_info img.thumb{
	display:block;
	width:200px;
	height:305px;
	float:left;
}

.member_info ul.infobox{	
	margin-left:220px;
	padding:10px;
	height:270px;
}

.member_info .sign1{
	background:url(../images/member_sign_1.gif) no-repeat right bottom;
}
.member_info .sign2{
	background:url(../images/member_sign_ag.jpg) no-repeat 350px bottom;
}
.member_info .sign3{
	background:url(../images/member_sing_2.jpg) no-repeat 350px bottom ;
}


.member_info ul.infobox li{
	margin:0 auto; 
	overflow:auto; 
	_display:inline-block;
	*zoom:1;
}
.member_info ul.infobox li b{
	display:block;
	width:80px;
	float:left;
	text-align:right;
	height:23px;
	line-height:22px;
	_line-height:20px;
}
.member_info ul.infobox li i{
	font-style:normal;
	display:block;
	margin:0px 0px 0px 85px;
	height:23px;
	line-height:22px;
	_line-height:20px;
	text-align:left;
	color:#333;
}

.member_info ul.infobox li i a{
	color:#666;
}
.member_info ul.infobox li i a:hover{
	color:#EC6A00;
}


/*-----------------底部-----------------*/

.bottom_logo_bg{
	background:url(../images/bottom_logo_bg.gif) repeat-x top center;
	margin-top:15px;
}

.bottom_logo_bg .logolist{
	width:960px;
	margin:0px auto;
	height:56px;
}
.bottom_logo_bg .logolist img{
	display:inline-block;
	float:left;
}

.bottom{
	background-color: #1a1a1a;
	height:40px;
	line-height:40px;
}
.bottom .bottom_left{
	width:600px;
	float:left;
	padding:15px 20px;
}
.bottom .bottom_left .copy_right{
	color:#666;
}
.bottom .bottom_right{
	width:300px;
	float:right;
	padding:20px 0px;;
}
.bottom .bottom_right .bottom_tel{
	background:url(../images/bottom_tel.gif) no-repeat;
	width:250px;
	height:90px;
	font-size:12px;
	position:relative;
}

.bottom .bottom_right .bottom_tel .qqnum{
	position:absolute;
	right:0px;
	bottom:20px;
	width:150px;
	height:25px;
}
.bottom .bottom_right .bottom_tel .qqnum a{
	display:block;
	width:25px;
	height:25px;
	float:left;
}
.bottom .bottom_right .bottom_tel .qqnum span{
	float:left;
	width:100px;
	height:25px;
	line-height:22px;
	color:#9b5026;
}
.bottom .bottom_nav{
	padding:0px 5px 0px 0px;
	font-size: 12px;
	color: #bdbdbd;
}
.bottom .bottom_nav a{
	display:inline-block;
	height:18px;
	line-height:18px;
	padding:0px 5px;
	font-size: 12px;
	color: #bdbdbd;
}

.bottom .bottom_nav a.gray{
	color: #666;
}
.bottom .bottom_nav a:hover{text-decoration:none; color:#F60;}


/*----------------------------End头部样式------------------------------*/

.showpropic .proimg{
	width: 500px;
	height: auto;
	overflow: hidden;
	float: left;
	text-align: center;
}
.showpropic .thumbs{
	width: 80px;
	height: auto;
	overflow: hidden;
	float: left;
	padding-top: 20px;
}
.showpropic .thumbs span{
	display: block;
	margin-top: 5px;
}
.showpropic .thumbs span img{
	border: 2px solid #ddd;
}
.showpropic .thumbs span img.now{
	border: 2px solid #F60;
}


/*----------------------------页码样式-----------------------------------*/
.pagenav{
	color: #585858;
	font-size:12px;
	padding:20px 80px;
}
.pagenav a,.pagenav span{
	display: inline-block;
	background:url(../images/page_bg.gif) repeat-x;
	color: #585858;
	height:15px;
	line-height:15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding:0px 2px;
	text-decoration:none;
	border-left: solid 1px #a3a4a3;
	border-bottom: solid 1px #a3a4a3;	
}
.pagenav a:hover{
	background:#ff6a00;
	color:#FFF;
}

.pagenav span.current{
	padding:0px 4px;
	background:#ff6a00;
	color:#FFF;
}



/*跳转提示*/

.message{
	margin-top: 100px;
	border: 1px solid #ddd;
	margin-right: auto;
	margin-left: auto;
	width: 400px;
}
.message .title{	
	background-color: #F60;
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	color:#FFF;
	font-weight: bold;	
}

.message .note{
	padding: 10px;
	font-size: 15px;
	color: #090;
	font-weight: bold;
}

.message .error{
	padding: 10px;
	font-size: 15px;
	color: #F00;
	font-weight: bold;	
}

.message .jump{
	padding: 10px;
	font-size: 14px;
}

.goto_top{
	width:39px;
	height:36px;
	position: fixed;
	_position: absolute;
	z-index: 999999;
	right:50px;
	bottom:200px;
	cursor:pointer;
}